#rightImage, #leftImage{
  height: 15%;
  width: 15%;
}

#leftImage{
  float: left;
}

#rightImage{
  float: right;
}

#headerControl{
display: inline-block;
align-content: space-between;
}

header{
  border-style: dotted;
}
h1{
  font-size: 200%;
  color: blueviolet;
  float: right;
  margin-left: 0%;
  margin-right: 20%;
}

body{
  background-color: antiquewhite;
}

#productPic1, #productPic2, #productPic3{
  width: 200px;
  height: 200px;
 
}



#counter-list{
  width: 200px;
  height: 500px;
  margin-left: 0px;
  margin-right: 20px;
  border: solid;
  float: left;
}

p{
  font-size: 20px;
}

#productPic{

  width: 880px;
}