#rightImage, #leftImage{
  height: 15%;
  width: 15%;
}

#leftImage{
  float: left;
}

#rightImage{
  float: right;
}

#headerControl{
display: inline-block;
/* align-content: space-between; */
}

header{
  border-style: double;
}
h1{
  font-size: 200%;
  color: greenyellow;
  float: right;
}

body{
  background-image: url('https://previews.123rf.com/images/massonforstock/massonforstock1708/massonforstock170800894/83797964-big-red-gumshoes-and-beautiful-gift-in-cool-shopping-bag-on-the-wonderful-white-background.jpg');
}

 #productPic1, #productPic2, #productPic3{
  height: 300px;
} 

#voted-list{
  width: 200px;
  height: 500px;
  margin-left: 0px;
  margin-right: 20px;
  border: solid;
  /* float: left; */
}

p{
  font-size: 30px;
  color: black;
  font-weight: bolder;
}

.floatLeft{
  border-style: double;
  float: left;
  width: 20%;
  margin-right: 10px;
}